<div class="navbar">
  <div class="navbar-top">
  <span routerLink="app">Nutrifacts</span>
  <span class="material-icons">restaurant</span>
  </div>
  <div class="navbar-row">
    <div class="search-container">
      <input #input class="search-input" 
              [routerLink]="['/']"
              type="search" name="" 
              placeholder="Search Food...">
    </div>
  </div>
  <div class="navbar-row">
    {{ title | async }}
  </div>
  <div class="progress-line" *ngIf="loading | async"></div>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>