/* You can add global styles to this file, and also import other style files */

body {
    font: 100%/1.5 Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

input {
    -webkit-appearance: textfield;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    max-width: 100%;
    list-style: none;
    padding: 16px 8px;
}

li + li {
     border-top: 1px solid #ddd;
}

li:focus{
outline: none;
background: #fafafa;
}

table {
    margin: 32px 0;
}

tr {
    height: 32px;
}

th {
    font-weight: normal;
}

th.left {
    text-align: left;
}

th.right {
    text-align: right;
    font-weight: 500;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #009688;
    padding: 0 16px;
    position: relative;
}

.navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 54px;
    color: white;
}

.navbar-row {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 8px 0;
    color: white;
}

.search-container {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background: white;
    padding: 0 4px;
}
.search-input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    outline: none;
    border: none;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0 16px;
    overflow: auto;
}

.loading{
    display: flex;
    justify-content: center;
    padding: 48px;
}

.material-icons {
    &.xl {
        font-size: 72px;
        color: grey;
    }

}

.subheader {
    font-size: 20px;
    margin: 16px 0;
}

.food-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-name{
    padding: 16px;
    font-size: 18px;
    border-bottom: 1px solid grey;
}


.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: #2962FF;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

.fab:hover{
    background-color: #0D47A1;
}

.list-container{
    margin-top: 8px;
}

.list-item {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
    border-radius: 2px;
}

.list-item:hover{
    background: #fafafa;
}
.sublist{
    display: flex;
    flex-direction: column;
}
.list-title {
    max-width: 70vw;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-subtitle {
    font-size: 14px;
    color: grey;
}

.list-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: grey;
    cursor: pointer;
}

.list-info:hover{
    background: #e3e3e3;
}

.progress-line, .progress-line:before {
  height: 5px;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.progress-line {
  background-color: #66BB6A;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #FFEB3B;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}